/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | ALT | RSE | ENT |   | SPC | LWR  | GUI |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                    &kp LALT &mo 2 &kp RET   &kp SPACE &mo 1 &kp RGUI
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  F1 |  F2 |  F3 |  F4 |  F5 |   | F6        | F7   | F8   | F9   | F10  | DEL  |
// | CTRL |  1  |  2  |  3  |  4  |  5  |   | LFT       | DWN  | UP   | RGT  | CAPS |      |
// | SHFT |  6  |  7  |  8  |  9  |  0  |   | Play/Pause| VOL -| VOL +| BTS_0| BTS_1| BTCLR|
//                    | ALT |     | ENT |   | SPC       |      | GUI  |
                        bindings = <
   &kp TAB    &kp F1 &kp F2 &kp F3 &kp F4 &kp F5       &kp F6     &kp F7        &kp F8        &kp F9        &kp F10  &kp DEL
   &kp LCTRL  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5       &kp LEFT   &kp DOWN      &kp UP        &kp RIGHT     &kp CAPS &trans
   &kp LSHFT  &kp N6 &kp N7 &kp N8 &kp N9 &kp N0       &kp C_PP   &kp C_VOL_DN  &kp C_VOL_UP  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_CLR
                     &kp LALT   &trans   &kp RET       &kp SPACE  &trans        &kp RGUI
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |  \   |
// | CTRL |  1  |  2  |  3  |  4  |  5  |   |  -  |  =  |  `  |  [  |  ]  | "|"  |
// | SHFT |  6  |  7  |  8  |  9  |  0  |   |  _  |  +  |  ~  |  {  |  }  | SHFT |
//                    | ALT |     | ENT |   | SPC |     | GUI |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSLH
   &kp LCTRL &kp N1   &kp N2 &kp N3   &kp N4   &kp N5      &kp MINUS &kp EQUAL &kp GRAVE       &kp LBKT &kp RBKT &kp PIPE
   &kp LSHFT &kp N6   &kp N7 &kp N8   &kp N9   &kp N0      &kp UNDER &kp PLUS  &kp TILDE       &kp LBRC &kp RBRC &kp RSHFT
                    	     &kp LALT &trans   &kp RET     &kp SPACE &trans    &kp RGUI
                        >;
                };
        };
};
